<p>login-registration-forms works!</p>
<br>

<h3>Task 4:</h3>
<!-- Login Form -->
<h3>Login Form</h3>
<form #loginForm="ngForm" (ngSubmit)="onLoginSubmit(loginForm)">
  <label for="email">Email:</label>
  <input type="email" id="email" name="email" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
  <br>

  <label for="password">Password:</label>
  <input type="password" id="password" name="password" ngModel required>
  <br>

  <label for="rememberMe">Remember Me</label>
  <input type="checkbox" id="rememberMe" name="rememberMe" ngModel>
  <br>

  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>

<!-- Registration Form -->
<h3>Registration Form</h3>
<form #regForm="ngForm" (ngSubmit)="onRegSubmit(regForm)">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" ngModel required>
  <br>

  <label for="regEmail">Email:</label>
  <input type="email" id="regEmail" name="regEmail" ngModel required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
  <br>

  <label for="regPassword">Password:</label>
  <input type="password" id="regPassword" name="regPassword" ngModel required>
  <br>

  <label for="confirmPassword">Confirm Password:</label>
  <input type="password" id="confirmPassword" name="confirmPassword" ngModel required>
  <br>

  <button type="submit" [disabled]="!regForm.valid || !passwordsMatch(regForm)">Register</button>
</form>

<br>

<button (click)="navigateToHome()">Go Home</button>

<br>
<br>
<button (click)="navigateToLogin()">Go to New Reactive Login Form</button>