<p>demo-si works!</p>
<!--<button class="hoverboard-button">Hoverboard Button</button>-->
  
<p>Name: {{FSAD.name}}</p>

<input [value]="Name" (input)="whenchanged($event)">
<br>
<p>name = {{Name}}</p>

<p>Room: {{FSAD.classroom}}</p>
<p>Students: {{'cs students ' + (FSAD.student ? FSAD.student : 'N/A') + " Like wise you can do any operations "}}</p>

<img [src]="FSAD.classImage" alt="Classroom Image">

<p>Let's do 2 way Binding</p>

<input [value]="time">
<p></p>
<input mytime="name" [value]="time" (input)="whenchanged($event)">

<h3>Task 1:</h3>
<!-- For hover highlight -->
<div appHoverHighlight>
  Hover over me
</div>
<br>
<!-- For disabling the button -->
<button appDisableButton>
  Click me to disable
</button>

<br>

<h3>Task 3:</h3>
<button (click)="onButtonClick()">Click Me!</button>
<br>
<input (keyup)="onKey($event)">
<br>

<button [routerLink]="['/login-registration']">Go to Login & Registration Forms</button>

<br>
