<p>login-form works!</p>
<h3>Login Form</h3>
<form [formGroup]="loginForm" (ngSubmit)="onLoginSubmit()">
  <label for="email">Email:</label>
  <input type="email" id="email" formControlName="email">
  <br>

  <label for="password">Password:</label>
  <input type="password" id="password" formControlName="password">
  <br>

  <label for="rememberMe">Remember Me</label>
  <input type="checkbox" id="rememberMe" formControlName="rememberMe">
  <br>

  <button type="submit" [disabled]="!loginForm.valid">Login</button>
</form>
